<h1>Listing poaitems</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poaitems.each do |poaitem| %>
      <tr>
        <td><%= poaitem.content %></td>
        <td><%= poaitem.type %></td>
        <td><%= link_to 'Show', poaitem %></td>
        <td><%= link_to 'Edit', edit_poaitem_path(poaitem) %></td>
        <td><%= link_to 'Destroy', poaitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poaitem', new_poaitem_path %>
